body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.tabs {
  display: flex;
  background: #222;
}

.tab-btn {
  flex: 1;
  padding: 15px;
  border: none;
  background: #222;
  color: #888;
  font-size: 18px;
}

.tab-btn.active {
  color: red;
  border-bottom: 2px solid red;
}

.tab {
  display: none;
  padding: 20px;
}

.tab.active {
  display: block;
}

button {
  width: 100%;
  padding: 18px;
  margin: 10px 0;
  font-size: 20px;
  background: #330000;
  color: white;
  border: 1px solid red;
  border-radius: 8px;
}

button:active {
  background: red;
}

/* LOGIN SCREEN */

.login-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* ensures it's on top */
}

.login-container h2 {
  color: red;
  margin-bottom: 20px;
  font-size: 32px;
}

.login-container input {
  padding: 15px;
  font-size: 24px;
  width: 200px;
  text-align: center;
  background: #222;
  border: 2px solid red;
  color: white;
  border-radius: 8px;
  margin-bottom: 15px;
}

.login-container button {
  width: 200px;
  padding: 15px;
  font-size: 20px;
  background: #330000;
  border: 1px solid red;
  color: white;
  border-radius: 8px;
}

.last-scan {
  color: #bbb;
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 12px;
  padding-left: 5px;
}

#stats-container {
  background: #1a1a1a;
  padding: 15px;
  border: 1px solid red;
  border-radius: 10px;
  margin-top: 10px;
}

.stat-item {
  margin-bottom: 12px;
  font-size: 18px;
  color: #ddd;
}

#incidents label {
  display: block;
  margin-top: 10px;
}

#incidents select,
#incidents textarea {
  width: 100%;
  background: #222;
  color: white;
  border: 1px solid red;
  border-radius: 8px;
  padding: 10px;
  margin-top: 5px;
}

#incidents button {
  width: 100%;
  margin-top: 15px;
  padding: 15px;
  font-size: 20px;
  background: #330000;
  border: 1px solid red;
  color: white;
  border-radius: 8px;
}

.tabs {
  display: flex;
  overflow-x: auto;     /* Allow scrolling of tab buttons only */
  white-space: nowrap;  /* Keep buttons on 1 line */
  width: 100%;
}

.tab-btn {
  flex: 1 0 auto;       /* Keep all tab buttons evenly sized */
}
